*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/.name
/.idea/deploymentTargetDropDown.xml
/.idea/migrations.xml
/.idea/shelf/
/.idea/dictionaries/
/.idea/httpRequests/
/.idea/dataSources/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.jks
.kotlin/

# Build output in all submodules
**/build/